<h1>New</h1>

<%= form_for  [@upload] do |f| %>

<%= f.label :photo, "Photo" %>
<%= image_tag @upload.photo, width: '300px' if @upload.photo? %>
<%= f.file_field :photo %>

<%= f.submit %>

<% end %>


<% @showall.each do |show| %>

  <%= image_tag show.photo %>

<% end %>